/tst/cddinter*
cddlib-*/
current_cddlib
.deps/
.libs/
*.la
*.lo
*.o
*~
aclocal.m4
autom4te.cache/
bin/
cnf/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
src/pkgconfig.h

/cddlib/ar-lib
/cddlib/INSTALL
/cddlib/build/
/cddlib/src-gmp/adjacency_gmp
/cddlib/src-gmp/allfaces_gmp
/cddlib/src-gmp/fourier_gmp
/cddlib/src-gmp/lcdd_gmp
/cddlib/src-gmp/projection_gmp
/cddlib/src-gmp/redcheck_gmp
/cddlib/src-gmp/scdd_gmp
/cddlib/src-gmp/testcdd1_gmp
/cddlib/src-gmp/testcdd2_gmp
/cddlib/src-gmp/testlp1_gmp
/cddlib/src-gmp/testlp2_gmp
/cddlib/src-gmp/testlp3_gmp
/cddlib/src-gmp/testshoot_gmp
/cddlib/src/adjacency
/cddlib/src/allfaces
/cddlib/src/fourier
/cddlib/src/lcdd
/cddlib/src/projection
/cddlib/src/redcheck
/cddlib/src/scdd
/cddlib/src/testcdd1
/cddlib/src/testcdd2
/cddlib/src/testlp1
/cddlib/src/testlp2
/cddlib/src/testlp3
/cddlib/src/testshoot
/cddlib/doc/cddlibman.aux
/cddlib/doc/cddlibman.log
/cddlib/doc/cddlibman.pdf
/cddlib/doc/cddlibman.toc

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/*.xml
